@tailwind base;
@tailwind components;
@tailwind utilities;

.categories {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* Modifying scroll-bar */
.categories::-webkit-scrollbar {
  width: 6px;
}
.categories::-webkit-scrollbar-thumb {
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
}
.categories::-webkit-scrollbar-track {
  margin: 10px;
  border-radius: 20px;
  background-color: transparent;
}

.inactive-catgory {
  @apply bg-white text-black;
}
.active-category {
  @apply bg-black text-white;
}

/* 
.products {
  padding: 20px;
} */
